In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
#reading csv and making dataframe
weather_data = "output_data/weather_info.csv"
weather_data_df = pd.read_csv(weather_data)
weather_data_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,Kashan,33.98,51.44,94.51,16,45,3.74
1,Joshīmath,30.57,79.57,68.99,60,96,0.27
2,Pacific Grove,36.62,-121.92,57.34,93,54,1.01
3,Stellenbosch,-33.93,18.87,60.94,67,0,8.05
4,George Town,5.41,100.34,77.65,94,40,3.36
...,...,...,...,...,...,...,...
541,Departamento de Canelones,-34.64,-56.29,57.76,41,76,10.29
542,Saint Anthony,45.02,-93.22,78.85,47,1,12.75
543,Pochutla,15.74,-96.47,82.40,78,90,6.58
544,Lagunas,-5.23,-75.68,84.88,76,46,1.50
545,Prado,-17.34,-39.22,77.29,63,52,8.01

In [3]:
#Humidity Heatmap

# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
locations =weather_data_df[["Lat", "Long"]].astype(float)
#type(weather_data_df["Lat"][1])
weather_data_df = weather_data_df.dropna()
weather_data_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed
0,Kashan,33.98,51.44,94.51,16,45,3.74
1,Joshīmath,30.57,79.57,68.99,60,96,0.27
2,Pacific Grove,36.62,-121.92,57.34,93,54,1.01
3,Stellenbosch,-33.93,18.87,60.94,67,0,8.05
4,George Town,5.41,100.34,77.65,94,40,3.36
...,...,...,...,...,...,...,...
541,Departamento de Canelones,-34.64,-56.29,57.76,41,76,10.29
542,Saint Anthony,45.02,-93.22,78.85,47,1,12.75
543,Pochutla,15.74,-96.47,82.40,78,90,6.58
544,Lagunas,-5.23,-75.68,84.88,76,46,1.50
545,Prado,-17.34,-39.22,77.29,63,52,8.01

In [8]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weather_data_df["Humidity"], dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig
#fig.save('output_data/Heat_Map1.png')

Figure(layout=FigureLayout(height='420px'))

In [21]:
#finding the ideal weather conditions
ideal_weather = weather_data_df.loc[weather_data_df["Max Temp"]>=70]
ideal_weather2 = ideal_weather.loc[ideal_weather["Max Temp"]<80]
ideal_weather3 = ideal_weather2.loc[ideal_weather2["Wind Speed"]<10]
ideal_weather4 = ideal_weather3.loc[ideal_weather3["Cloudiness"]==0]
ideal_weather4

       City    Lat   Long  Max Temp  Humidity  Cloudiness  Wind Speed
92    Lagoa  39.05 -27.98     73.85        85           0        5.57
136  Bereda  43.27  -7.54     79.20        51           0        7.00
481    Lata  40.16  -8.33     78.84        66           0        5.01
500  Hearst  49.68 -83.67     79.81        38           0        9.57
530  Manono  -7.30  27.42     76.91        25           0        3.65

In [24]:
#Putting a blank column for the api call
ideal_weather4['Closest Hotel'] = ""
locations2 =ideal_weather4[["Lat", "Long"]].astype(float)
ideal_weather4

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Closest Hotel
92,Lagoa,39.05,-27.98,73.85,85,0,5.57,
136,Bereda,43.27,-7.54,79.20,51,0,7.00,
481,Lata,40.16,-8.33,78.84,66,0,5.01,
500,Hearst,49.68,-83.67,79.81,38,0,9.57,
530,Manono,-7.30,27.42,76.91,25,0,3.65,

In [26]:
locations2

       Lat   Long
92   39.05 -27.98
136  43.27  -7.54
481  40.16  -8.33
500  49.68 -83.67
530  -7.30  27.42

In [29]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": locations2["Lat"] + locations2["Long"],
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in ideal_weather4.iterrows():

    # get hotel from df
    hotel_type = row['City']

    # add keyword to params dict
    params['keyword'] = hotel_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {hotel_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {hotel_type} hotel is {results[0]['name']}.")
        
        ideal_weather4.loc[index, 'Closet Hotel'] = results[0]['Closet Hotel']
        #types_df.loc[index, 'address'] = results[0]['vicinity']
        #types_df.loc[index, 'price_level'] = results[0]['price_level']
        #types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 92: Lagoa.
Missing field/result... skipping.
------------
Retrieving Results for Index 136: Bereda.
Missing field/result... skipping.
------------
Retrieving Results for Index 481: Lata.
Missing field/result... skipping.
------------
Retrieving Results for Index 500: Hearst.
Missing field/result... skipping.
------------
Retrieving Results for Index 530: Manono.
Missing field/result... skipping.
------------